<html>

<body>
    <div class="flex-container">
    <div class="container">
      <h1>INSERT DATABASE</h1>  <form method="POST" action='/register'>
        <input type="text" name="title" placeholder="TITLE OF THE BOOK">
        <br>
        <input type="text" name="author_fname" placeholder="AUTHOR FIRSTNAME">
        <br>
        <input type="text" name="author_lname" placeholder="AUTHOR LASTNAME">
        <br>
        <input type="text" name="released_year" placeholder="RELEASED YEAR">
        <br>
        <input type="text" name="stock_quantity" placeholder="STOCK QUNATITY">
        <br>
        <input type="text" name="pages" placeholder="TOTAL NUMBER OF PAGES">
        <br>
        <button>submit</button>
        
           
        </form>
    </div>
</div>
</body>

</html>
